---
---
<footer class="w-full h-20 bg-gray-100 flex justify-center items-center">
  <p class="text-sm font-light">Hi Uncle!</p>
  <div class="flex items-center ml-4">
    <a href="https://github.com/jandev84/tara-g" target="_blank" rel="noopener noreferrer" class="text-sm font-light mr-4">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://discord.gg/7CkxP4VdZ" target="_blank" rel="noopener noreferrer" class="text-sm font-light mr-4">
      <i class="fa fa-discord"></i>
    </a>
  </div>
</footer>

